PORT=8080

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/boozebunk"

FRONTEND_URL=http://localhost:3000

JWT_SECRET = 
COOKIE_SECRET = 

SERPAPI_KEY=

AWS_SECRET_ACCESS_KEY=
AWS_ACCESS_KEY_ID=
AWS_REGION=ap-south-1
AWS_SES_FROM_EMAIL=